


/*Header*/

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  bottom: auto;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  opacity: 0.9;
  background-color: black;
}


.logo {
  display:flex;
  align-items: center;
  flex-grow: 1;
  padding: 30px;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: block;
  align-items: flex-end;
}
a {
  color: seashell;
  margin: 10px;
}

/*main content */

body {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

}

.maincontent {
  display: flex;
  align-content: center;
  align-items: center;
      width: 100%;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 78px;
      margin-left: auto;
      padding-top: 59px;
      flex-direction: column;
}

#mission {
  display: flex;
  background: url(../../resources/media/photos/img-mission-background.jpg);
  height: 700px;
}

.teamix {
  width: 1200px;
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 160px;
}

div {
  display: block;
}

/*section 2*/

#section2 {
height: 800px;
width: 1000px;

}

.images {
display: flex;
justify-content: center;
align-items:center;
flex-direction: row;
flex-wrap: wrap;

flex-grow: 1;


}
.image img {
  margin: 10px;
  display: block;
  width: 300px;
  height: 200px;
}

/*section 3*/

#section3 {

 background-image: url(../../resources/media/photos/img-locations-background.jpg);
 width: 1200px;
 height: 700px;

}
.boxes {
display: flex;
align-items: center;
justify-content: center;

}

.details {
  background-color: black;
  opacity: 1;
  margin: 40px;
  width: 300px
}

/*footer*/
footer {
  display: flex;
  align-items: center;
  align-content: center;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 78px;
    margin-left: auto;
    padding-top: 116px;
    flex-direction: column;
}

.copyright {
  display: flex;
  justify-content: flex-start;
}
