


/*Header*/

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  bottom: auto;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  opacity: 0.9;
  background-color: black;
}


.logo {
  display:flex;
  align-items: center;
  flex-grow: 1;
  padding: 30px;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: block;
  align-items: flex-end;
}
a {
  color: seashell;
  margin: 10px;
}

/*main content */

body {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: center;
  align-items: center;
  font-family: helvetica cursive;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  flex-direction: column;
  background-image: url(../..resources/media/photos/img-tea-cozy-logo.png);
}

.maincontent {
  display: flex;
  align-content: center;
  align-items: center;
      width: 100%;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 78px;
      margin-left: auto;
      padding-top: 59px;
      flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  align-content: center;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 78px;
    margin-left: auto;
    padding-top: 116px;
    flex-direction: column;
}

.copyright {
  display: flex;
  justify-content: flex-start;
}
